/doc/
/Meta/
/vignettes/*.html
/vignettes/*-cache/
/vignettes/tcga_results/
/inst/analysis/cache/
.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.Rcheck/
*.tar.gz
src/*.o
src/*.so
src/*.dll

Sample Data/
Notebook examples/
scratch/
audit/
